<template>
  <div class="createPost-container">
    <el-form ref="postForm" enctype="multipart/form-data" :model="postForm" class="form-container">
      <sticky class-name="sub-navbar publish">
        <el-button
          v-loading="loading"
          style="margin-left: 10px;"
          @click="submitForm"
          type="success"
        >Save</el-button>
      </sticky>
      <div class="createPost-main-container">
        <el-row>
          <el-col :span="24">
            <el-form-item style="margin-bottom: 40px;" prop="title">
              <MDinput v-model="postForm.github" :maxlength="100" name="github" required>Github</MDinput>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item style="margin-bottom: 40px;" prop="title">
              <MDinput v-model="postForm.linkedin" :maxlength="100" name="linkedin" required>Linkedin</MDinput>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item style="margin-bottom: 40px;" prop="title">
              <MDinput v-model="postForm.location" :maxlength="100" name="location" required>Location</MDinput>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
             <el-form-item prop="content" style="margin-bottom: 30px;">
              <el-input type="textarea" v-model="postForm.description" name="description" required>Description</el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
    </el-form>
  </div>
</template>

<script>
import MDinput from '@/components/MDinput';
import Sticky from '@/components/Sticky'; // Sticky header
import { fetchUser, updateUser } from '@/api/user';

const defaultForm = {
  title: '',
  description: '',
  location: '',
  github: '',
  linkedin: '',
};

export default {
  name: 'MySettings',
  components: {
    MDinput,
    Sticky,
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + ' is required',
          type: 'error',
        });
        callback(new Error(rule.field + ' is required'));
      } else {
        callback();
      }
    };
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      userListOptions: [],
      rules: {
        github: [{ validator: validateRequire }],
        linkedin: [{ validator: validateRequire }],
        location: [{ validator: validateRequire }],
        description: [{ validator: validateRequire }],
      },
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      fetchUser()
        .then(response => {
          this.postForm = {
            ...response.data,
          };
        })
        .catch(err => {
          console.log(err);
        });
    },
    submitForm() {
      this.$refs.postForm.validate(valid => {
        this.loading = true;
        updateUser(this.postForm).then(response => {
          this.loading = false;
          this.postForm = response.data;
          this.$notify({
            title: 'Success',
            message: 'Your data has been updated successfully',
            type: 'success',
            duration: 2000,
          });
        }).catch(error => {
          this.loading = false;
          this.$notify({
            title: 'Error',
            message: error,
            type: 'danger',
            duration: 2000,
          });
        });
      });
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 0 45px 20px 50px;
    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;
      .postInfo-container-item {
        float: left;
      }
    }
  }
  .word-counter {
    width: 40px;
    position: absolute;
    right: -10px;
    top: 0px;
  }
}
</style>
<style>
.createPost-container label.el-form-item__label {
  text-align: left;
}
</style>
