<template>
  <div class="createPost-container">
    <el-form ref="postForm" enctype="multipart/form-data" :model="postForm" class="form-container">
      <sticky class-name="sub-navbar publish">
        <el-button
          v-loading="loading"
          style="margin-left: 10px;"
          @click="submitForm"
          type="success"
        >Save</el-button>
        <router-link to="/projects">
          <el-button style="margin-left: 10px;" type="secondary">Cancel</el-button>
        </router-link>
      </sticky>
      <div class="createPost-main-container">
        <el-row>
          <el-col :span="24">
            <el-form-item style="margin-bottom: 40px;" prop="title">
              <MDinput v-model="postForm.title" :maxlength="100" name="name" required>Title</MDinput>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item prop="content" style="margin-bottom: 30px;">
          <el-input type="textarea" v-model="postForm.description" name="description" required>Description</el-input>
        </el-form-item>
        <el-form-item prop="content" style="margin-bottom: 30px;">
          <el-upload
            class="upload-demo"
            action="/api/image/upload"
            :on-success="handlePreviewImage"
            :on-remove="handleRemoveImage"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">
              Drop file here or
              <em>click to upload</em>
            </div>
            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
          </el-upload>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
import MDinput from '@/components/MDinput';
import Sticky from '@/components/Sticky'; // Sticky header
import { fetchProject, updateProject, createProject } from '@/api/project';
import { userSearch } from '@/api/search';

const defaultForm = {
  title: '',
  description: '',
  image: '',
};

export default {
  name: 'ProjectDetail',
  components: {
    MDinput,
    Sticky,
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + ' is required',
          type: 'error',
        });
        callback(new Error(rule.field + ' is required'));
      } else {
        callback();
      }
    };
    return {
      postForm: Object.assign({}, defaultForm),
      loading: false,
      userListOptions: [],
      rules: {
        title: [{ validator: validateRequire }],
        description: [{ validator: validateRequire }],
      },
      tempRoute: {},
    };
  },
  computed: {
    lang() {
      return this.$store.getters.language;
    },
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.fetchData(id);
    } else {
      this.postForm = Object.assign({}, defaultForm);
    }
    this.tempRoute = Object.assign({}, this.$route);
  },
  methods: {
    handlePreviewImage(data) {
      this.postForm.image = data;
    },
    handleRemoveImage(data) {
      this.postForm.image = '';
    },
    fetchData(id) {
      fetchProject(id)
        .then(response => {
          this.postForm = {
            id: response.id,
            ...response.attributes,
          };

          this.setTagsViewTitle();
        })
        .catch(err => {
          console.log(err);
        });
    },
    setTagsViewTitle() {
      const title = 'Edit Project'; // Should move to i18n
      const route = Object.assign({}, this.tempRoute, {
        title: `${title}-${this.postForm.id}`,
      });
      this.$store.dispatch('updateVisitedView', route);
    },
    submitForm() {
      debugger;
      this.$refs.postForm.validate(valid => {
        if (valid) {
          this.loading = true;
          if (this.isEdit) {
            updateProject(this.postForm)
              .then(response => {
                this.loading = false;
                this.postForm = response.data;
                this.$notify({
                  title: 'Success',
                  message: 'Project has been published successfully',
                  type: 'success',
                  duration: 2000,
                });
              })
              .catch(error => {
                this.loading = false;
                this.$notify({
                  title: 'Error',
                  message: error,
                  type: 'danger',
                  duration: 2000,
                });
              });
          } else {
            createProject(this.postForm)
              .then(response => {
                this.loading = false;
                this.postForm = response.data;
                this.$notify({
                  title: 'Success',
                  message: 'Project has been published successfully',
                  type: 'success',
                  duration: 2000,
                });
                this.$router.push('/projects');
              })
              .catch(error => {
                this.loading = false;
                this.$notify({
                  title: 'Error',
                  message: error,
                  type: 'danger',
                  duration: 2000,
                });
              });
          }
        }
      });
    },
    draftForm() {
      if (
        this.postForm.content.length === 0 ||
        this.postForm.title.length === 0
      ) {
        this.$message({
          message: 'Please enter required title and content',
          type: 'warning',
        });
        return;
      }
      this.$message({
        message: 'Successfully saved',
        type: 'success',
        showClose: true,
        duration: 1000,
      });
    },
    getRemoteUserList(query) {
      userSearch(query).then(response => {
        if (!response.data.items) {
          return;
        }
        this.userListOptions = response.data.items.map(v => v.name);
      });
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import '~@/styles/mixin.scss';
.createPost-container {
  position: relative;
  .createPost-main-container {
    padding: 0 45px 20px 50px;
    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;
      .postInfo-container-item {
        float: left;
      }
    }
  }
  .word-counter {
    width: 40px;
    position: absolute;
    right: -10px;
    top: 0px;
  }
}
</style>
<style>
.createPost-container label.el-form-item__label {
  text-align: left;
}
</style>
