<template>
<body>
  <!-- ******HEADER****** -->
  <header class="header">
    <div class="container">
      <div class="profile-content pull-left">
        <el-card v-loading="user.loading" class="box-card">
          <img
            class="profile-image img-responsive pull-left"
            src="assets/images/profile.jpg"
            alt="James Lee"
          >
          <h1 class="name">{{user.data.name}}</h1>
          <h2 class="desc">Web App Developer</h2>
          <ul class="social list-inline">
            <li>
              <a target="_blank" :href="user.data.linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a target="_blank" :href="user.data.github">
                <i class="fa fa-github-alt"></i>
              </a>
            </li>
          </ul>
        </el-card>
      </div>
      <a
        class="btn btn-cta-primary pull-right"
        href="mailto:earlold24@gmail.com?subject=Добрый день"
        target="_blank"
      >
        <i class="fa fa-paper-plane"></i> Contact Me
      </a>
    </div>
  </header>
  <div class="container sections-wrapper">
    <div class="row">
      <div class="primary col-md-8 col-sm-12 col-xs-12">
        <section class="about section">
          <el-card v-loading="user.loading" class="box-card">
            <div class="section-inner">
            <h2 class="heading">About Me</h2>
              <div class="content">
                <p>{{user.data.description}}</p>
              </div>
            </div>
          </el-card>
        </section>
        <section class="latest section">
          <el-card v-loading="projects.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Latest Projects</h2>
              <div class="content">
                <div v-for="project in projects.list" :key="project.id" class="item row">
                  <a
                    class="col-md-4 col-sm-4 col-xs-12"
                    :href="`/storage/${project.image}`"
                    target="_blank"
                  >
                    <img
                      class="img-responsive project-image"
                      :src="`/storage/${project.image}`"
                      alt="project name"
                    >
                  </a>
                  <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title">
                      <a>{{project.title}}</a>
                    </h3>
                    <p>{{project.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </el-card>
        </section>
        <section class="experience section">
          <el-card v-loading="jobs.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Work Experience</h2>
              <div class="content">
                <div v-for="job in jobs.list" :key="job.id" class="item">
                  <h3 class="title">
                    {{job.title}} -
                    <span class="place">{{job.description}}</span>
                  </h3>
                </div>
              </div>
            </div>
          </el-card>
        </section>
        <section class="github section">
          <div class="section-inner">
            <h2 class="heading">My GitHub</h2>
            <p>
              You can embed your GitHub activities using Casey Scarborough's
              <a
                href="http://caseyscarborough.com/projects/github-activity/"
                target="_blank"
              >GitHub Activity Stream</a> widget.
            </p>
            <github-feed login="earlold"></github-feed>
          </div>
        </section>
      </div>
      <div class="secondary col-md-4 col-sm-12 col-xs-12">
        <aside class="info aside section">
          <el-card v-loading="user.loading" class="box-card">
             <div class="section-inner">
              <h2 class="heading sr-only">Basic Information</h2>
              <div class="content">
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-map-marker"></i>
                    <span class="sr-only">Location:</span>{{user.data.location}}
                  </li>
                  <li>
                    <i class="fa fa-envelope-o"></i>
                    <span class="sr-only">Email:</span>
                    <a href="maito:earlold24@github.com">{{user.data.email}}</a>
                  </li>
                  <li>
                    <i class="fa fa-link"></i>
                    <span class="sr-only">Website:</span>
                    <a href="https://earlold.github.io/">https://earlold.github.io/</a>
                  </li>
                </ul>
              </div>
            </div>
          </el-card>
        </aside>
        <aside class="skills aside section">
          <el-card v-loading="skills.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Skills</h2>
              <div class="content">
                <div class="skillset">
                  <p
                    class="intro"
                  >Intro about my skills goes here. Keep the list lean and only show my primary skillset.</p>
                  <div v-for="skill in skills.list" :key="skill.id" class="item">
                    <h3 class="level-title">
                      {{skill.title}}
                      <span
                        class="level-label"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-animation="true"
                        title="You can use the tooltip to add more info..."
                      >
                        <span v-if="skill.raiting <= 2">Junior</span>
                        <span v-else-if="skill.raiting <= 4">Midle</span>
                        <span v-else>Expert</span>
                      </span>
                    </h3>
                    <div class="level-bar">
                      <div class="level-bar-inner" data-level="98%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-card>
        </aside>
        <aside class="small-projects aside section latest">
          <el-card v-loading="smallProjects.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Small Projects</h2>
              <div class="content">
                <p class="intro">My mini projects</p>
                <div class="content">
                  <div
                    v-for="smallProject in smallProjects.list"
                    :key="smallProject.id"
                    class="item"
                  >
                    <h5 class="title">
                      <a :href="smallProject.link" target="_blank">{{smallProject.title}}</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </el-card>
        </aside>
        <aside class="education aside section">
          <el-card v-loading="educations.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Education</h2>
              <div class="content">
                <div v-for="education in educations.list" :key="education.id" class="item">
                  <h3 class="title">
                    <i class="fa fa-graduation-cap"></i>
                    {{education.title}}
                  </h3>
                  <h4 class="university">{{education.description}}</h4>
                </div>
              </div>
            </div>
          </el-card>
        </aside>
        <aside class="languages aside section">
          <el-card v-loading="languages.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Languages</h2>
              <div class="content">
                <ul class="list-unstyled">
                  <li v-for="language in languages.list" :key="language.id" class="item">
                    <span class="title">
                      <strong>{{language.title}}</strong>
                    </span>
                    <span class="level">{{language.description}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </el-card>
        </aside>
        <aside class="list music aside section">
          <el-card v-loading="musics.loading" class="box-card">
            <div class="section-inner">
              <h2 class="heading">Favourite coding music</h2>
              <div class="content">
                <ul class="list-unstyled">
                  <li v-for="music in musics.list" :key="music.id" class="item">
                    <i class="fa fa-headphones"></i>
                    <a :href="music.link">{{music.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </el-card>
        </aside>
      </div>
    </div>
  </div>
</body>
</template>

<script>
import fetchEducationList from '@/api/education';
import fetchJobList from '@/api/job';
import fetchProjectList from '@/api/project';
import { fetchUser } from '@/api/user';
import fetchLanguageList from '@/api/language';
import fetchMusicList from '@/api/music';
import fetchSkillList from '@/api/skill';
import fetchSmallProjectList from '@/api/small-project';

export default {
  name: 'FrontPage',
  data() {
    return {
      projects: {
        list: [],
        loading: false,
      },
      smallProjects: {
        list: [],
        loading: false,
      },
      languages: {
        list: [],
        loading: false,
      },
      user: {
        data: {},
        loading: false,
      },
      skills: {
        list: [],
        loading: false,
      },
      educations: {
        list: [],
        loading: false,
      },
      musics: {
        list: [],
        loading: false,
      },
      jobs: {
        list: [],
        loading: false,
      },
    };
  },
  methods: {
    async getEducationData() {
      this.educations.loading = true;
      const { data } = await fetchEducationList();
      this.educations.list = data;
      this.educations.loading = false;
    },
    async getUserData() {
      this.user.loading = true;
      const { data } = await fetchUser();
      this.user.data = data;
      this.user.loading = false;
    },
    async getJobData() {
      this.jobs.loading = true;
      const { data } = await fetchJobList();
      this.jobs.list = data;
      this.jobs.loading = false;
    },
    async getLanguageData() {
      this.languages.loading = true;
      const { data } = await fetchLanguageList();
      this.languages.list = data;
      this.languages.loading = false;
    },
    async getMusicData() {
      this.musics.loading = true;
      const { data } = await fetchMusicList();
      this.musics.list = data;
      this.musics.loading = false;
    },
    async getProjectData() {
      this.projects.loading = true;
      const { data } = await fetchProjectList();
      this.projects.list = data;
      this.projects.loading = false;
    },
    async getSkillData() {
      this.skills.loading = true;
      const { data } = await fetchSkillList();
      this.skills.list = data;
      this.skills.loading = false;
    },
    async getSmallProjectData() {
      this.smallProjects.loading = true;
      const { data } = await fetchSmallProjectList();
      this.smallProjects.list = data;
      this.smallProjects.loading = false;
    },
  },
  created() {
    this.getMusicData();
    this.getProjectData();
    this.getSkillData();
    this.getSmallProjectData();
    this.getEducationData();
    this.getJobData();
    this.getLanguageData();
    this.getUserData();
  },
};
</script>

<style lang="scss">
.project-image {
  height: 135px;
}
.profile-content {
  width: 75%;
  .el-card {
    box-shadow: none !important;
    background: inherit;
    border: none;
  }
}
</style>
