<template>
  <div class="app-container">
    <div class="sub-navbar">
      <router-link to="/projects/create" class="link-type">
        <el-button style="margin-left: 10px;" type="success">Create</el-button>
      </router-link>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column min-width="300px" label="Title">
        <template slot-scope="{row}">
          <router-link :to="'/projects/edit/'+row.id" class="link-type">
            <span>{{ row.title }}</span>
          </router-link>
        </template>
      </el-table-column>
      <el-table-column min-width="300px" label="Description">
        <template slot-scope="{row}">
          {{row.description}}
        </template>
      </el-table-column>
      <el-table-column min-width="300px" label="Image">
        <template slot-scope="{row}">
          <img style="height: 100px" :src="`/storage/${row.image}`" />
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="220">
        <template slot-scope="scope">
          <router-link :to="'/projects/edit/' + scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">Edit</el-button>
          </router-link>
           <el-button
              @click="() => handleDeleteItem(scope.row.id)"
              type="danger"
              size="small"
              icon="el-icon-delete"
            >Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import Sticky from '@/components/Sticky'; // Sticky header
import { deleteProject } from '@/api/project';
const projectResource = new Resource('projects');

export default {
  name: 'ProjectList',
  component: {
    Sticky,
  },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.listLoading = true;
      const { data } = await projectResource.list();
      this.list = data;
      this.listLoading = false;
    },
    async handleDeleteItem(id) {
      await deleteProject(id);
      this.getList();
    },
  },
};
</script>

<style lang="scss">
.sub-navbar {
  width: 100%;
  padding-bottom: 10px;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
